mat-toolbar {
  background: #181818;
  color: white;
}

mat-sidenav {
  width: 200px;
  border-right: none;
  background: #181818;

  padding: 10px;
  text-align: center;
}

.content {
  margin: 10px;

}

mat-sidenav-container {
min-height: 90vh;

}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
      margin-right: 8px;
  }
}


.active-menu{
  border-bottom: 2px solid;
  background-color: #303030;
}
.header-title{
  margin-top: 20px;
  padding: 20px;
  color: #ffdb00;
  background-color: #5a6867;
  font-size: 26px;
  font-weight: 300;
  border-bottom: 5px solid rgb(255, 123, 0);
}
