
      <router-outlet></router-outlet>



<!-- <mat-toolbar
  class="mat-elevation-z8"
  style="display: flex; flex-direction: row"
>
  <button
    mat-icon-button
    (click)="leftDrawer.toggle()"
    [ngClass]="leftDrawer.opened ? 'active-menu' : ''"
  >
    <mat-icon> menu </mat-icon>
  </button>

  <button mat-button routerLink="./home" [ngClass]="setActiveMenu('/home')">
    <mat-icon>home</mat-icon>
    list
  </button>
  <button mat-button routerLink="../../log" [ngClass]="setActiveMenu('/log')">
    <mat-icon>list_alt</mat-icon>
    Logs
  </button>


</mat-toolbar>

<mat-sidenav-container>


  <mat-sidenav
    #leftDrawer
    class="mat-elevation-z8"
    [opened]="innerWidth >= 1600 ? true : false"
    [mode]="innerWidth >= 900 ? 'side' : 'over'"
  >

  </mat-sidenav>


  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>-->
